.watching-screen-content {
  background-color: #5e52b7;
  margin: 20px 150px;
  height: 100vh;
  border-radius: 40px;
  overflow: hidden;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.7);
  position: relative;
  display: flex;
}
.watching-screen-lft {
  flex: 6;
  height: 100%;
  background-color: #3e348a;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  /* gap: 30px; */
  padding: 30px 0 30px 0;
  filter: drop-shadow(0 3px 20px rgba(0, 0, 0, 0.7));
}
.watching-screen-img {
  position: relative;
  width: 400px;
  height: 400px;
  object-fit: cover;
  overflow: hidden;
  border-radius: 25px 40px;
  border: 5px solid #5e52b7;
  filter: drop-shadow(0 3px 7px rgba(0, 0, 0, 0.7));
  margin-bottom: 20px;
}
.watching-screen-play-btn {
  position: absolute;
  bottom: 0;
  right: 0;
  background-color: #493d9e;
  border: 5px solid #3d3677;
  border-bottom: none;
  border-right: none;
  padding: 5px 15px;
  border-radius: 10px 0 0 0;

  color: #efe9d5;
  font-size: 1em;
  font-weight: normal;
  cursor: pointer;
}
.watching-screen-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.watching-screen-play {
  background-color: #5e52b7;
  width: 400px;
  padding: 15px 30px 20px 30px;
  border-radius: 40px 30px;
  display: flex;
  flex-direction: column;
}
.watching-screen-play-name {
  display: flex;
  color: #efe9d5;
  font-size: 1.75em;
  filter: drop-shadow(0 0px 3px rgba(0, 0, 0, 1));
  margin-bottom: 5px;
  display: flex;
  justify-content: center;
  text-overflow: clip;
  width: 80%;
  text-align: center;
}

.watching-ranking {
  display: flex;
  flex-direction: column;
  margin: 0 0 10px 0;
}
.watching-stars {
  display: flex;
  justify-content: center;
  gap: 5px;
}
.star-btn {
  color: rgb(255, 217, 0);
  font-size: 1.5em;
  cursor: pointer;
  filter: drop-shadow(0 3px 5px rgba(255, 217, 0, 0.7));
  margin-bottom: 5px;
}
.watching-ranking-info {
  display: flex;
  justify-content: space-between;
  margin-top: 5px;
  padding: 5px 20px;
  margin: 0 5px;
  background-color: #3e348a;
  border-radius: 20px 20px 10px 10px;
}
.watching-ranking-info div {
  font-size: 0.75em;
  color: #efe9d5;
}
.play-btn {
  background-color: #493d9e;
  padding: 10px 20px;
  border-radius: 20px;
  border: none;
  color: #efe9d5;
  font-size: 1.5em;
  cursor: pointer;
}
.return-btn {
  position: absolute;
  top: 20px;
  left: 20px;
  width: 50px;
  height: 50px;
  background-color: #493d9e;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100%;
  color: #efe9d5;
  font-size: 1.5em;
  cursor: pointer;
  z-index: 100;
  /* filter: drop-shadow(0 0px 2px rgba(0, 0, 0, 1)); */
  border: 2px solid #5e52b7;
}
.watching-screen-rgt {
  flex: 7;
  background-color: #5e52b7;
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 20px 40px;
}
.watching-screen-rgt {
  display: flex;
  flex-direction: column;
  padding: 20px 20px 20px 30px;
  overflow-y: auto;
  max-height: 100vh;
  scrollbar-width: thin;
  scrollbar-color: #3e348a #5e52b7;
}
.watching-screen-rgt::-webkit-scrollbar {
  width: 8px;
}

.watching-screen-rgt::-webkit-scrollbar-track {
  background: #3e348a;
  border-radius: 10px;
}

.watching-screen-rgt::-webkit-scrollbar-thumb {
  background: #3e348a;
  border-radius: 10px;
}

.watching-screen-rgt::-webkit-scrollbar-thumb:hover {
  background: #3e348a;
}

.playzone {
  width: 100%;
  min-height: 350px;
  background-color: black;
}
.playzone-description-content {
  padding: 15px 30px 30px 30px;
  background-color: #3e348a;
  border-radius: 20px;
  max-height: 150px;
  overflow: hidden;
  position: relative;
  text-overflow: clip;
  display: -webkit-box;
  line-clamp: 6;
  -webkit-box-orient: vertical;
  transition: max-height 0.3s ease-in-out;
  color: #efe9d5;
  filter: drop-shadow(0 0px 5px rgba(0, 0, 0, 0.7));
}
.playzone-description-content h1,
.playzone-random-comments h1 {
  font-weight: bold;
  filter: drop-shadow(0 0px 3px rgba(0, 0, 0, 1));
  font-size: 1em;
  text-decoration: underline;
  margin-bottom: 10px;
}

.playzone-description-content.expanded {
  max-height: none;
  line-clamp: unset;
}
.playzone-description-content.expanded::after {
  display: none;
}
.playzone-description-content.collapsed::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 40px;
  background: linear-gradient(to bottom, rgba(3, 3, 3, 0), rgb(26, 21, 58));
}

.toggle-btn {
  position: absolute;
  bottom: 5px;
  right: 10px;
  background: none;
  border: none;
  color: #efe9d5;
  font-size: 1em;
  cursor: pointer;
  margin-top: 5px;
  display: block;
  text-align: center;
  padding: 1px 5px 3px 5px;
  border-radius: 5px;
  background-color: #493d9e;
}
.playzone-description {
  font-weight: normal;
  font-size: 0.9em;
}
.playzone-short-imgs {
  position: relative;
  margin-top: 20px;
  width: 100%;
  height: auto;
  display: flex;
  filter: drop-shadow(0 0px 5px rgba(0, 0, 0, 0.7));
  padding: 20px 10px;
  background-color: #3e348a;
  border-radius: 20px;
  justify-content: center;
  flex-basis: auto;
}
.images-container {
  display: flex;
  max-width: 600px;
  overflow: hidden;
  scroll-behavior: smooth;
  transition: scroll 0.3s ease-in-out;
}
.image {
  height: 150px;
  margin: 5px 10px;
  border-radius: 8px;
  cursor: pointer;
}
.nav-btn {
  position: absolute;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
  background-color: #5e52b7;
  border-radius: 50%;
  height: 35px;
  width: 35px;
  margin: 5px;
  top: 50%;
  transform: translateY(-55%);
  display: flex;
  justify-content: center;
  align-items: center;
  color: #efe9d5;
}
.nav-btn-arr {
  font-size: 1.9em;
}
.nav-btn.lft {
  left: 0px;
  padding: 1px 3px 1px 0px;
}
.nav-btn.rgt {
  right: 0px;
  padding: 1px 0px 1px 3px;
}
.image-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  backdrop-filter: blur(5px);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 100;
}
.image-modal img {
  max-width: 60%;
  max-height: 60%;
  border-radius: 20px;
  filter: drop-shadow(0 0 10px rgba(0, 0, 0, 0.7));
}
.playzone-discription-comments {
  display: flex;
  gap: 20px;
}
.playzone-description-expand {
  position: relative;
  flex: 1;
}
.playzone-random-comments {
  color: #efe9d5;
  flex: 1;
  padding: 15px 30px;
  background-color: #3e348a;
  border-radius: 20px;
  max-height: 150px;
  filter: drop-shadow(0 0px 5px rgba(0, 0, 0, 0.7));
}
.playzone-random-comment {
  margin: 8px 0;
  font-size: 0.9em;
  font-weight: normal;
  padding: 3px 5px;
  border-radius: 5px;
  background-color: #5e52b7;
}
