.fire-today-container {
  height: 800px;
  margin: 50px 0;
  background-color: #5e52b7;
  border: 10px solid #493d9e;
  border-left: none;
  border-right: none;
  padding: 20px 60px 40px 60px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.fire-today-top {
  flex: 1;
  display: flex;
  width: 100%;
  justify-content: space-between;
}
.fire-today-title {
  font-size: 60px;
  text-align: center;
  background: linear-gradient(
    to right,
    #e9ba0f,
    #6e62cb,
    #efe9d5,
    #8a82c9,
    #e9ba0f
  );
  background-size: 300% 100%;
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  animation: gradientAnimation 5s infinite ease-in-out alternate;
  user-select: none;
}

@keyframes gradientAnimation {
  0% {
    background-position: 0% 50%;
  }
  100% {
    background-position: 100% 50%;
  }
}

.fire-today-top-one-container {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-bottom: 50px;
}

.fire-today-top-one {
  position: relative;
  padding: 20px;
  background-color: transparent; 
  border-radius: 50px 50px 0 0; 
  z-index: 1; 
}

.fire-today-top-one::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(to bottom, #493d9e, #5e52b7); 
  border-radius: 50px 50px 0 0; 
  z-index: -1; 
  padding: 5px; 
}


.fire-today-top-one-img{
  width: 400px;
  height: 450px;
  object-fit: cover;
  border-radius: 40px ;
  overflow: hidden;
  position: relative;
}
.fire-today-top-one-img img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  cursor: pointer;
  user-select: none;
}


.fire-today-top-one-content{
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 0 20px;
  position: relative;
}
.top-one-fire-gif{
  position: absolute;
  bottom: -20px;
  right: 30px;
  width: 80px;
  height: auto;
  z-index: 1;
  cursor: pointer;
  transition: all 0.1s;
  filter: drop-shadow(0 0 3px #ff8000);
}
.top-one-fire-gif img{
  width: 100%;
  height: 100%;
  user-select: none;
}
.top-one-fire-gif:hover{
  scale: 1.05;
  transform: translateY(-5px);
  filter: drop-shadow(0 0 10px #ff8000);
}
.fire-today-top-one-content-name{
  font-size: 35px;
  font-weight: bold;
  color: #efe9d5;
}
.fire-today-top-one-content-views-comments-rating{
  margin-top: 5px;
  display: flex;
  gap: 10px;
  color: #efe9d5;
  user-select: none;
}
.fire-today-top-one-content-views, .fire-today-top-one-content-comments, .fire-today-top-other-content-rating{
  display: flex;
  gap: 5px;
  justify-content: center;
  align-items: center;
  padding: 5px 10px;
  background-color: #493d9e;
  border-radius: 10px;
  transition: all 0.1s ease;
}
.fire-today-top-one-content-views:hover, .fire-today-top-one-content-comments:hover, .fire-today-top-other-content-rating:hover{
  transform: scale(1.05);
}
.fire-today-top-others-container {
  flex: 1;
  display: flex;
  justify-content: start;
  align-items: center;
  flex-direction: column;
  margin-bottom: 50px;
}
.fire-today-top-others {
  position: relative;
  padding: 20px;
  background-color: transparent; 
  border-radius: 50px 50px 0 0; 
  width: 80%;
  height: 100%;
  z-index: 1; 
}

.fire-today-top-others::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  background: linear-gradient(to bottom, #493d9e, #5e52b7); 
  border-radius: 50px 50px 0 0; 
  z-index: -1; 
  padding: 20px; 
}
.medal-top1{
  position: absolute;
  bottom: 100px;
  left: 0;
  width: 100px;
  height: auto;
  z-index: 1;
  transition: all 0.1s;
}
.medal-top1 img{
  width: 100%;
  height: 100%;
  user-select: none;
  transition: all 0.2s ease;
}

.medal-top1 img:hover{
  scale: 1.1;
  filter: drop-shadow(0 5px 30px rgb(255, 217, 0, 0.75));
}


.fire-today-top-other{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 0px;
  margin-bottom: 10px;
  padding: 10px 20px;
  background-color: #493d9e;
  border-radius: 20px;
  transition: all 0.1s ease;
}
.medal-top-container{
  width: 80px;
  height: 80px;
  z-index: 1;
  transition: all 0.1s;
}
.medal-top-container img{
  width: 100%;
  height: 100%;
  user-select: none;
}
.fire-today-top-other-img{
  width: 75px;
  height: 100px;
  object-fit: cover;
  border-radius: 10px ;
  overflow: hidden;
  /* position: relative; */
}
.fire-today-top-other-img img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  cursor: pointer;
  user-select: none;
}
.fire-today-top-other-content{
  display: flex;
  width: 70%;
  padding: 5px 10px;
  margin-left: 10px;
  position: relative;
  cursor: pointer;
  border-radius: 10px;
  transition: all 0.2s ease;
}
.fire-today-top-other-content:hover{
  transform: scale(1.05);
  background-color: #5e52b7;
}
.fire-today-top-other-content-views-comments-name{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: #efe9d5;
  user-select: none;
  margin-left: 15px;
  padding: 5px 0;
}
.fire-today-top-other-content-name{
  font-size: 22px;
  font-weight: bold;
  color: #efe9d5;
}
.fire-today-top-other-content-views-comments{
  display: flex;
  flex-direction: column;
  gap: 3px;
}
.fire-today-top-other-content-views, .fire-today-top-other-content-comments{
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 5px;
}
.medal-top2, .medal-top3, .medal-top4, .medal-top5{
  transition: all 0.2s ease;
}
.medal-top2:hover{
  scale: 1.1;
  filter: drop-shadow(0 0 15px rgb(192, 192, 192, 0.75));
}
.medal-top3:hover{
  scale: 1.1;
  filter: drop-shadow(0 0 15px rgb(205, 127, 50, 0.75));
}
.medal-top4:hover, .medal-top5:hover{
  scale: 1.1;
  filter: drop-shadow(0 0 15px rgb(205, 127, 50, 0.75));
}