.header-container {
  position: relative;
}
.main-header {
  position: absolute;
  top: 40px;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: end;
  align-items: center;
  z-index: 100;
  font-size: 1em;
}
.header-icons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}
