.header-container {
  position: relative;
}
.main-header {
  position: absolute;
  top: 35px;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: end;
  align-items: center;
  z-index: 100;
  font-size: 1em;
}
.header-icons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}
.search-container {
  padding: 12px;
  background-color: #5e52b7;
  display: flex;
  align-items: center;
  border-radius: 20px;
  border: 5px solid #493d9e;
  cursor: pointer;
  transition: width 0.3s ease-in-out;
  width: 60px;
  overflow: hidden;
  filter: drop-shadow(0 0 10px rgba(0, 0, 0, 1));
}

.search-container.open {
  width: 250px; /* Розширений розмір */
  padding: 12px 15px;
}

.search-icon {
  color: #efe9d5;
  font-size: 1.75em;
  filter: drop-shadow(0 0 5px rgba(0, 0, 0, 0.7));
}

.search-container input {
  border: none;
  outline: none;
  background: transparent;
  color: white;
  width: 100%;
  padding-left: 10px;
  font-size: 1em;
  display: none;
}
.search-container input::placeholder {
  color: #efe9d5;
}
.search-container.open input {
  display: block;
}
.search-list-anime {
  position: relative;
}
.search-list {
  position: absolute;
  top: 75px;
  left: 0;
  width: 250px;
  background: #5e52b7;
  border: 5px solid #493d9e;
  border-radius: 20px;
  filter: drop-shadow(0 0 10px rgba(0, 0, 0, 1));
  max-height: 200px;
  overflow-y: auto; /* Прокрутка залишається */
  padding: 10px;
  padding-right: 12px;
  display: flex;
  flex-direction: column;
  gap: 5px;
  color: #efe9d5;

  /* Приховуємо скролбар у всіх браузерах */
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* Internet Explorer та Edge */
}

.search-list::-webkit-scrollbar {
  display: none; /* Chrome, Safari */
}
.search-list-item {
  display: flex;
  gap: 10px;
  align-items: center;
  object-fit: cover;
  border-radius: 4px;
  cursor: pointer;
  filter: drop-shadow(0 0 5px rgba(0, 0, 0, 0.5));
}
.search-list-item:hover {
  background: #493d9e;
}
.search-list-item img {
  flex: 1;
  width: 50px;
  height: 50px;
  object-fit: cover;
  border-radius: 4px;
}
.search-list h1 {
  flex: 3;
  font-weight: normal;
  font-size: 14px;
  transition: background 0.1s;
}

/* .search-list h1:hover {
  background: #493d9e;
} */
