.header-container {
  position: relative;
}
.main-header {
  width: 100%;
  height: 125px;
  display: flex;
  justify-content: end;
  align-items: center;
  z-index: 1000;
  font-size: 1em;
  /* background: linear-gradient(to right, #5e52b7, #8076c8, #5e52b7); */
  background-color: #5e52b7;
  border-bottom: 7px solid #493d9e;
  padding: 0 40px;
}
.header-icons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}
.search-container {
  padding: 12px;
  background-color: #5e52b7;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 20px;
  border: 5px solid #493d9e;
  cursor: pointer;
  transition: width 0.3s ease-in-out;
  width: 60px;
  overflow: hidden;
  filter: drop-shadow(0 0 10px rgba(0, 0, 0, 0.3));
}

.search-container.open {
  width: 250px; 
  padding: 12px 15px;
}

.search-icon {
  color: #efe9d5;
  font-size: 24px;
  filter: drop-shadow(0 0 5px rgba(0, 0, 0, 0.7));
}

.search-container input {
  border: none;
  outline: none;
  background: transparent;
  color: white;
  width: 100%;
  padding-left: 10px;
  font-size: 1em;
  display: none;
}
.search-container input::placeholder {
  color: #efe9d5;
}
.search-container.open input {
  display: block;
}
.search-list-anime {
  position: relative;
}
.search-list {
  position: absolute;
  top: 75px;
  left: 0;
  width: 250px;
  background: #5e52b7;
  border: 5px solid #493d9e;
  border-radius: 20px;
  filter: drop-shadow(0 0 10px rgba(0, 0, 0, 0.5));
  max-height: 200px;
  overflow-y: auto;
  padding: 10px;
  padding-right: 12px;
  display: flex;
  flex-direction: column;
  gap: 5px;
  color: #efe9d5;
  z-index: 1000;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.search-list::-webkit-scrollbar {
  display: none;
}
.search-list-item {
  display: flex;
  gap: 10px;
  align-items: center;
  object-fit: cover;
  border-radius: 4px;
  cursor: pointer;
  filter: drop-shadow(0 0 5px rgba(0, 0, 0, 0.5));
}
.search-list-item:hover {
  background: #493d9e;
}
.search-list-item img {
  flex: 1;
  width: 50px;
  height: 50px;
  object-fit: cover;
  border-radius: 4px;
}
.search-list h1 {
  flex: 3;
  font-weight: normal;
  font-size: 14px;
  transition: background 0.1s;
}

.close-search-icon {
  color: #efe9d5;
  font-size: 1.75em;
  filter: drop-shadow(0 0 5px rgba(0, 0, 0, 0.7));
  cursor: pointer;
}
.search-list-link-to-sp {
  text-decoration: none;
  color: #372f7a;
  font-size: 14px;
  display: flex;
  align-items: end;
  justify-content: end;
  font-weight: normal;
  padding-bottom: 2px;
  margin-bottom: 2px;
  border-bottom: 2px solid #493d9e;
}
.search-list-link-to-sp div {
  transition: all 0.1s ease;
  cursor: pointer;
}
.search-list-link-to-sp div:hover {
  color: #efe9d5;
}
.header-logo {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  padding: 5px 20px;
  border: 5px solid #493d9e;
  border-top: none;
  /* background-color: #5e52b7; */
  background: radial-gradient(circle, #766db6, #443a93);
  border-radius: 0px 0px 60px 60px;
  filter: drop-shadow(0 0 20px rgba(0, 0, 0, 0.5));
  z-index: 100;
  cursor: pointer;
  user-select: none;
}
.header-logo img {
  width: 150px;
  height: 150px;
  object-fit: cover;
  filter: drop-shadow(0 0 10px rgba(0, 0, 0, 0.5));
  transition: all 0.2s ease;
}
.header-logo img:hover {
  transform: scale(1.05);
}
.header-account-container {
  display: flex;
  gap: 10px;
  align-items: center;
  cursor: pointer;
  padding: 12px;
  background-color: #5e52b7;
  display: flex;
  align-items: center;
  border-radius: 20px;
  border: 5px solid #493d9e;
  cursor: pointer;
  filter: drop-shadow(0 0 10px rgba(0, 0, 0, 0.3));
}
.header-account-icon {
  color: #efe9d5;
  font-size: 24px;
  filter: drop-shadow(0 0 5px rgba(0, 0, 0, 0.7));
}
